$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$font-size-standard: 18px;

$line-height-standard: 1.5;
$line-height-headlines: 1.2;

$font-family-standard: 'Neo Sans W23', arial;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-x-large: 2rem;

$z-index-low: 10;
$z-index-middle: 20;
$z-index-high: 30;
$z-index-highest: 100;

$color-primary: #4e878c;
$color-secondary: #b5ffe1;
$color-dark: #000000;
$color-bright: #ffffff;
