$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$font-size-standard: 18px;

$font-size-xxs: 0.675rem;
$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$line-height-standard: 1.5;
$line-height-headlines: 1.2;

$font-family-standard: 'Neo Sans W23', arial;

$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;
$spacing-x-large: 40px;
$spacing-xx-large: 70px;
$spacing-xxx-large: 100px;

$z-index-low: 10;
$z-index-middle: 20;
$z-index-high: 30;
$z-index-highest: 100;

$color-primary: #043035;
$color-primary-light: lighten($color-primary, 20%);
$color-secondary: #3daa4a;
$color-secondary-light: lighten($color-secondary, 20%);
$color-grey-light: #fefefe;
$color-light: #fff;
$color-light-grey: #808080;
$color-dark: #000;

$breakpoint-phone: 576px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;

$container-max-width: 1400px;

$mobile-navigation-height: 85px;

$box-shadow-default: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
