.button {
  color: $color-light;
  background-color: $color-secondary;
  font-weight: bold;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 100px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-primary;
  }
}

.button--m {
  height: 50px;
  width: 150px;
}

.button--l {
  height: 50px;
  width: 200px;
}

.button--search {
  margin-left: 0;
  min-height: 30px;

  &__search {
    min-height: 30px;
  }
}

.button--full-width {
  width: 100%;
}
