.garden-detail {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

.garden-detail__image {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: $spacing-medium;
  margin: $spacing-small;
  box-shadow: $box-shadow-default;

  @media (min-width: $breakpoint-tablet) {
    max-width: 50%;
  }
}

.garden-detail__caption {
  width: 100%;
  height: 50%;
  padding: $spacing-medium;
  margin: $spacing-small;
  box-shadow: $box-shadow-default;

  @media (min-width: $breakpoint-tablet) {
    height: 80%;
  }
}
