.logo {
  width: 25%;
}

.logo__link {
  display: block;
  height: 0;
  width: 100%;
  padding-top: 3.14159265359%; // = height / width * 100
  background: no-repeat 0 0 url('../Images/company-title.svg');
  background-size: 100% auto;
  text-indent: -9999px;
}
