.nav {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: $spacing-medium $spacing-large;
  background-color: $color-secondary;
  z-index: $z-index-low;
  height: $mobile-navigation-height;

  @media (min-width: $breakpoint-tablet) {
    position: sticky;
    height: 90px;
    bottom: auto;
    top: 0;
    position: none;
  }
}

.nav__inner {
  height: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint-tablet) {
    justify-content: space-between;
  }
}

.nav__logo {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    height: 100%;
    display: inline-block;
  }
}

.nav__user {
  background-color: $color-light;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  overflow: hidden;
  color: $color-secondary;
  border-radius: 50px;
  align-content: center;
  object-fit: cover;

  @media (min-width: $breakpoint-tablet) {
    align-content: auto;
  }
}

.nav__dropdown {
  border-radius: 50px;
  border: solid $color-light 3px;
  position: relative;
  display: inline-block;
  height: 100%;
  transition: border-color 200ms;

  &:hover {
    border-color: $color-dark;

    .nav__dropdown-content {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.nav__dropdown-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: $z-index-low;
  padding-top: $spacing-medium;
  right: 0;
  transition: opacity 200ms ease;
}

.nav__dropdown-content-inner {
  background-color: $color-primary;
  box-shadow: $box-shadow-default;
  padding: $spacing-medium $spacing-large;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.nav__mobile {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.nav__desktop {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.nav__link {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  color: $color-light;
  font-size: $font-size-m;
  text-align: center;
  transition: filter 200ms ease;
  padding: 0 $spacing-large;
  white-space: nowrap;

  &:hover {
    filter: brightness(90%);
    cursor: pointer;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 0;
  }
}
